<!DOCTYPE HTML>
<html lang="ru">
<head>
   <title>{% block title %}Измени свой Владивосток{% endblock %}</title>
   <meta charset="utf-8" />
   {% include 'VladChangeMainBundle:Default:head.html.twig' %}
   {% block links %}{% endblock %}
</head>
<body>
   {% block page %}{% endblock %}
</body>
</html>