{% extends 'VladChangeMainBundle:Default:html.html.twig' %}

{% block links %}
   {{ parent() }}
   <link href="{{ asset('bundles/vladchangemain/css/main.css') }}" rel="stylesheet" />
   <link href="{{ asset('bundles/vladchangemain/css/header.css') }}" rel="stylesheet" />
{% endblock %}

{% block page %}
   {% include 'VladChangeMainBundle:Default:header.html.twig' %}
   <div id='wrap'>
      {% block div_main %}{% endblock %}
   </div>
   {% include 'VladChangeMainBundle:Default:footer.html.twig' %}
{% endblock %}
