{% extends 'VladChangeMainBundle:Default:html.html.twig' %}

{% block links %}
   {{ parent() }}
   {% stylesheets
      'bundles/vladchangemain/css/main.css'
      'bundles/vladchangemain/css/header.css' filter='cssrewrite' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
   {% endstylesheets %}
{% endblock %}

{% block page %}
   {% include 'VladChangeMainBundle:Default:header.html.twig' %}
   <div id='wrap'>
      {% block div_main %}{% endblock %}
   </div>
   {% include 'VladChangeMainBundle:Default:footer.html.twig' %}
{% endblock %}
