{% extends 'VladChangeMainBundle:Default:html.html.twig' %}

{% block links %}
   {{ parent() }}
      <link rel="stylesheet" href="{{ 'bundles/vladchangemain/css/main.css' }}" />
      <link rel="stylesheet" href="{{ 'bundles/vladchangemain/css/header.css' }}" />
      <link rel="stylesheet" href="{{ 'bundles/vladchangemain/css/map.css' }}" />
{% endblock %}

{% block page %}
   {% include 'VladChangeMainBundle:Default:header.html.twig' %}
   <div id='wrap'>
      {% block div_main %}{% endblock %}
   </div>
   {% include 'VladChangeMainBundle:Default:footer.html.twig' %}
{% endblock %}
