header {
   position: relative;
   background: #2d2d2d;
   height: 85px;
   z-index: 3000;
   width: 100%;
   -webkit-box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.28);
   -moz-box-shadow:    0px 6px 10px 0px rgba(0, 0, 0, 0.28);
   box-shadow:         0px 6px 10px 0px rgba(0, 0, 0, 0.28);
}

header div.logo_wrap {
   background: #1f1f1f;
   display: inline-block;
   height: 85px;
   width: 320px;
   text-align: center;
}

#logo {
   display: inline-block;
   width: 250px;
   height: 66px;
   margin-top: 5px;
   background: url('../images/logo.png');
}

header nav {
   display: inline-block;
   margin: 34px 0 0 25px;
   vertical-align: top;
}

header ul li {
   display: inline-block;
}

header ul li a {
   padding: 0 15px;
   display: block;
   font-size: 110%;
   color: white;
}

header ul li a:hover, header ul li a.active {
   color: #1EAAC4;
}

header ul.right {
   margin: 34px 25px 0 0;
   float: right;
}