{% extends 'VladChangeMainBundle:Default:page.html.twig' %}

{% block div_main %}
   {% if app.session is not empty %}
      <h1>Вы успешно зарегистрированы!</h1>
      <p>Можете перейти на страницу вашего <a href="{{ path('fos_user_profile_show') }}">профиля</a></p>
   {% endif %}
{% endblock %}
